@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    padding: 0;
    margin: 0;
}

hr{
    margin: auto;
    border: none;
    width: 50%;
    height: 5px;
    background-color: blue;
}

/* put border gradient around border gradient background */
.container{
    width: 50%;
    margin: auto;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(207,247,255,1) 48%, rgba(0,212,255,1) 100%);
    padding: 3px;
}

.container > div{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(207,247,255,1) 48%, rgba(0,212,255,1) 100%);
}

.container p{
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: 600;
    overflow-wrap: break-word;
}

.container a{
    color: blue;
}

.name{
    font-size: 25px !important;
    font-weight: 600;
    font-family: Share Tech Mono, Arial, Helvetica, sans-serif !important;
    margin-bottom: 10px;
}

.logo{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height : 15vw;
    width: 15vw;
    border-radius: 50%;
}

.qrcode{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    height: 20%;
    border: 5px solid blue;
}