@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Remove browser defaults*/
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*User can't select or drag image*/
img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*Snap to each div inside scrollsnap*/
.scrollsnap{
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.scrollsnap > div {
    box-sizing: content-box;
    text-align: center;
    scroll-snap-align: start;
    height: 100%;
}

.container{
    border-top: 2px solid black;

    /*Put text in the middle of the picture*/
    position: relative;
    align-items: center;
}

.title{
    margin: 0;
    font-weight: 800;
    font-size: 50px;
    font-family: Share Tech Mono, Arial, Helvetica, sans-serif;
    color: white;

    /*Put text in the middle of the picture*/
    position: absolute;
    top: 30%;
    left: 20%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.author{
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    font-family: Share Tech Mono, Arial, Helvetica, sans-serif;
    color: white;

    position: absolute;
    top: 50%;
    left: 20%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.downArrow{
    position:absolute;
    top: 80%;
    left: 50%;
    font-size: 50px;
    color: gray;
}

.fullPageImage{
    width: 100%;
    height: 100vh;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.paragraph1{
    margin: 0;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 2vw;
    font-style: italic;
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.paragraph2{
    margin: 0;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 2vw;
    font-family: Roboto Slab, Arial Narrow Bold, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.paragraph3{
    margin: 0;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 2vw;
    color:white;
    font-family: Open Sans, Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}